<%= form_for(listing, :html => { multipart: true }) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", placeholder: "enter name, i.e Agha Khan Hospital, " %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", placeholder: "give a description of who this is, what do they do, you can copy from their website, about us page, linkedin, wikipedia etc" %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :address, class: "form-control", placeholder: "Type the companys location, example Bishop Magua Centre, Ngong Rd, Nairobi, Kenya" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control", placeholder: "Enter phone number, i.e 020-21212 or 0722123456" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", placeholder: "enter email i.e xyz@xyz.com" %>
  </div>

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website, class: "form-control", placeholder: "must include http:// or https://, example: http://www.bubewa.com" %>
  </div>

  <div class="form-group">

    <%= f.label :Add_Photo %>
    <%= f.file_field :image, class: "form-control" %>

  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
