<!--<p id="notice"><%= notice %></p>-->
<h3>Listings</h3>


<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-3">
            <div class="thumbnail">
              <%= image_tag listing.image_url (:medium) unless listing.image.blank? %>
              <div class="caption">
                <strong><%= link_to listing.name, listing %></strong>
                <!--Put homepage rankings here, stars, reviews and status, i.e danger,warning etc-->
               
              <div class="star-rating"><%= @avg_review %></div>


                <!-- Editing links --> 
                <hr>  
                <%= link_to 'Post Review', listing, class: "btn btn-info"  %>
                  <% if user_signed_in? && current_user.admin? %>
                      <p> <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %> |
                     <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></p> 
              <% end %>
             
              </div>
            </div>
    </div>

<% end %>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.eu-west-2.amazonaws.com/bebuwaphotos/uploads/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<br>


