<!--<p id="notice"><%= notice %></p>-->
<h3>Listings</h3>


<div class="row">
  <% @listings.each do |listing| %>
    <div class="col-md-2">
            <div class="thumbnail">
              <%= image_tag listing.image_url unless listing.image.blank? %>
              <div class="caption">
                <h4><%= link_to listing.name, listing %></h4>

 <div class="star-rating" data-score= <%= @avg_rating %> ></div>
                   
                <%= link_to 'Read/post review', listing %>
                  <% if user_signed_in? && current_user.admin? %>
                      <%= link_to 'Edit', edit_listing_path(listing) %>
                      <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
             
              </div>
            </div>
    </div>

<% end %>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.eu-west-2.amazonaws.com/bebuwaphotos/uploads/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<br>


