<!--<p id="notice"><%= notice %></p>-->

<h3>Listings</h3>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= image_tag listing.image_url unless listing.image.blank? %></td>
        <td><%= link_to listing.name, listing %></td>
        <!--<td><div class="star-rating" data-score= <%= @avg_rating %> ></div></td> --> 
        <td><%= listing.description %></td>
        <td><%= listing.address %></td>
        <td><%= listing.phone %></td>
        <td><%= listing.email %></td>
        <td><%= listing.website %></td>
        <td><%= link_to 'Show', listing %></td>
        <% if user_signed_in? && current_user.admin? %>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $('.star-rating').raty({
    path: 'https://s3.eu-west-2.amazonaws.com/bebuwaphotos/uploads/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<br>


