<!--<p id="notice"><%= notice %></p>-->



<div class="col-md-7 col-md-offset-3 text-align: center">
  <div class"heading-block">
    <h2 class="heading">Bubewa:  
    <span class="color1">Ratings </span> and
    <span class="color1">Reviews</span>
    Platform
    </h2>
      <p class ="small"> Saves you money and headaches by working as a community</p>
  </div>
  <hr>

  <p class ="sub-heading"> 

    <!--<b class="color1">"Caveat emptor"</b> is a Latin term that means <b class="color1">"let the buyer beware."</b> Similar to the phrase <b class="color1">"sold as is,"</b> this term means that the buyer assumes the risk that a product may fail to meet expectations or have defects. <br>
    - We help each other avoid <i>drama</i> na kizungu mingi - 
  </p> -->
  
  
  <h4>How it works for you... </h4>
  <div class="col-md-4">
    <h4>Step 1</h4>
   <p class ="small"> You start by reviewing products to earning review points (min 5 reviews) Now you can request for a product/service reviews before you spend money on it </p>
    
  </div>

  <div class="col-md-4">
     <h4>Step 2 </h4>

    <p class ="small"> You request is approved and published and you get a sharable link for your friends on facebook and whatsApp groups to review</p></div>

<div class="col-md-4">
   <h4>Step 3</h4>

  <p class ="small"> You get notified once the reviews start streaming in, now you can confidently make a decision if to spend your money or not on your purchase </p></div>

 

<p><%= link_to 'Requesting Reviews Pls', new_listing_path, class: "btn btn-info" %></p>
 <hr>


</div>


<div class="row, text-align: center">
  <% @listings.each do |listing| %>
  
    <div class="col-md-3">
            <div class="thumbnail">
              <%= image_tag listing.image_url (:medium) unless listing.image.blank? %>
              <div class="caption">
                <strong><%= link_to listing.name, listing %></strong>
                <p class = "small"><%= listing.title %><br> 
                  Posted <%= time_ago_in_words(listing.created_at) %> ago 
                </p>
                <!--Put homepage rankings here, stars, reviews and status, i.e danger,warning -> incase Ineed it, it goes to the next line -> .order("created_at DESC")-->
                <% reviews = Review.where(listing_id: listing.id) %>
                  <% if reviews.blank? %>
                    <% avg_rating = 0 %>
                  <% else %>
                    <% avg_rating = reviews.average(:rating).round(2) %>
                  <% end %>

                    <div class="star-rating" data-score= <%= avg_rating %> ></div>
                    <strong>Average score: </strong> <kbd><%= avg_rating  %>/5 </kbd> <br>
                   <p> See the <%= link_to "#{reviews.length} reviews", listing %></p>
                    

                <!-- Editing links --> 
                <hr>  
                <%= link_to 'Post Your Review', listing, class: "btn btn-info"  %>
                  <% if user_signed_in? && current_user.admin? %>
                      <p> <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %> |
                     <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %></p> 
              <% end %>
             
              </div>
            </div>
    </div>

<% end %>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.eu-west-2.amazonaws.com/bebuwaphotos/uploads/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>

<br>


