<%- provide(:title, @listing.name) %>
<%- provide(:description, @listing.description) %>
<%- provide(:page_url, listing_url(@listing)) %>
<%- provide(:page_image, @listing.image_url(:medium)) %>

<div class="row">
  <div class="col-md-3">
    <%= image_tag @listing.image_url (:medium) %><br>
      <h4><%= @listing.name %></h4>
      <p class="small"> <%= @listing.title %>
        </p>
          <div class="star-rating" data-score= <%= @avg_rating  %> >
          </div>
          <p class="small text-left "> (<%= "#{@reviews.length} reviews" %>) Average rating: <kbd><%= @avg_rating  %> /5</kbd>
          </p>

            <p> <% if @avg_rating < 1.0 %>
              <span class="label label-default">Unknown</span>
              <% elsif @avg_rating  <= 1.5 %>
             <span class="label label-danger">Terrible Choice</span>
                 <% elsif @avg_rating  <= 2 %>
                 <span class="label label-warning">Below Average</span>
                  <% elsif @avg_rating <= 3 %>
                  <span class="label label-info">Good Brand</span>
                  <% elsif @avg_rating <= 4 %>
                  <span class="label label-primary">Trustworthy Brand</span>
                  <% else @avg_rating > 4  %>
                  <span class="label label-success">Excellent Brand</span>
              <% end %></p>


          <i><%= social_share_button_tag("Rate and Review", :url =>"http://www.bubewa.com/listings") %> Share to get reviews from your friends</i>




          <hr>
              <p>
                <strong>About:</strong>
                <p><%= h(@listing.description).gsub(/\n/, '<br/>').html_safe %></p>
              </p>
          <hr>
            <address>
              <strong>Address:</strong>
              <%= @listing.address %><br>
              <strong>Phone:</strong>
              <%= @listing.phone %><br>
              <strong>Email:</strong>
              <%= mail_to @listing.email %> <br>
              <strong>Website:</strong>
              <%= link_to @listing.website, @listing.website, target: :_blank %>
            </address>
  </div>

  <div class="col-md-9">
      <div class="col-md-11">
      <%= link_to "Add your Review ", new_listing_review_path(@listing), class: "btn btn-info" %>
      </div>
      <table class="table">
        <thead>
            <tr>
              <th class="col-md-3"></th>
              <th class="col-md-9"></th>

            </tr>
          </thead>
          <tbody>

              <% if @reviews.blank? %>
               <td>
                    <p>Be the first to post a review!</p>
                    </td>
            <% else %>
            <tr>

                <% @reviews.each do |review| %>
                    <td>
                      <Strong> <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                      </Strong>
                      <br>
                     <i class = "small ">Posted <%= time_ago_in_words(review.created_at) %> ago</i>
                        <!-- Number of reviews -->
                    </td>
                <td>
                      <div class="row">
                          <div class="col-md-4">
                            <div class="star-rating" data-score= <%= review.rating %> >
                            </div>
                          </div>
                            <div class="col-md-4"></div>
                            <div class="col-md-4 text-right"></div>
                      </div>
                      <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %>
                      </p>
                  <div class="row">
                      <div class="col-md-4 small ">
                          <%= link_to listing_review_upvote_path(@listing.id, review.id), method: :put do %>
                          <span class ="glyphicon glyphicon-thumbs-up">
                          </span> <%= review.get_upvotes.size %>
                          <% end %>
                          <%= link_to listing_review_downvote_path(@listing.id, review.id), method: :put do %>
                          <span class ="glyphicon glyphicon-flag">
                          </span>  <%= review.get_downvotes.size %>
                        <% end %>
                      </div>

                      <div class="col-md-4"></div>
                      <div class="col-md-4 text-right">
                          <% if user_signed_in? %>
                          <% if (review.user == current_user) || (current_user.admin?) %>
                          <%= link_to "Update", edit_listing_review_path(@listing, review), class: "text-left"  %> |
                          <%= link_to "", listing_review_path(@listing, review), method: :delete, class: "glyphicon glyphicon-trash"  %>
                        <% end %>
                      <% end %>
                      </div>
                  </div>
                </td>
              </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
  </div>
</div>
  <br>
              <% if user_signed_in? && current_user.admin? %>
                <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
              <% end %>
                <%= link_to 'Back', listings_path, class: "btn btn-link" %>


<!--The script for star ratings. -->

<script>
  $('.star-rating').raty({
    path: 'https://s3.eu-west-2.amazonaws.com/bebuwaphotos/uploads/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
