
<div class="row">
  <div class="col-md-3">
    <%= image_tag @listing.image_url %>

<p>
  <h3><%= @listing.name %></h3>
</p>
<div class="star-rating" data-score= <%= @avg_rating %> ></div>
<i><%= "#{@reviews.length} reviews" %></i>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @listing.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= mail_to @listing.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @listing.website, @listing.website %>
</p>
<hr>
<p>
  <strong>Description:</strong>
  <p><%= h(@listing.description).gsub(/\n/, '<br/>').html_safe %></p>
</p>

  </div>
  <div class="col-md-9">
    <%= link_to "Haiya, Post a Review ", new_listing_review_path(@listing), class: "btn btn-primary align-right" %> <br><br>

      <table class="table">
        <thead>
            <tr>
              <th class="col-md-3"></th>
              <th class="col-md-9"></th>
            </tr>
          </thead>

          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td>
                  <h4>
                    <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %>
                  </h4>
                  <p class = "small"><%= review.created_at.strftime("%B, %d, %Y") %></p>
                </td>
                <td>
                  <div class="star-rating" data-score= <%= review.rating %> ></div>
                  <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
                </td>
              </tr>
            <% end %>
          </tbody>

        </table>

  </div>
</div>




<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

<!--The script for star ratings. -->

<script>
  $('.star-rating').raty({
    path: 'https://s3.eu-west-2.amazonaws.com/bebuwaphotos/uploads/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>