<p id="notice"><%= notice %></p>

<%= image_tag @listing.image_url %>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @listing.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @listing.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @listing.website %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<%= link_to 'Back', listings_path, class: "btn btn-link" %>
