
<div class="row">
  <div class="col-md-3">
    <%= image_tag @listing.image_url (:medium) %>
      <h3><%= @listing.name %></h3>
      <p class="small"> <%= @listing.title %></p>
        <div class="star-rating" data-score= <%= @avg_rating  %> ></div>
          <p class="small">(<%= "#{@reviews.length} reviews" %>) Average score: <kbd><%= @avg_rating  %>/5 </kbd>  </p>

        
        <hr>
          <p>
            <strong>About:</strong>
            <p><%= h(@listing.description).gsub(/\n/, '<br/>').html_safe %></p>
          </p>
          <hr>
            <address>
            <strong>Address:</strong>
            <%= @listing.address %><br>
            <strong>Phone:</strong>
            <%= @listing.phone %><br>
            <strong>Email:</strong>
            <%= mail_to @listing.email %> <br>
            <strong>Website:</strong>
            <%= link_to @listing.website, @listing %>
          </address>
  </div>
  <div class="col-md-9">
    <%= link_to "Haiya, Post a Review ", new_listing_review_path(@listing), class: "btn btn-info" %> <br><br>
      <table class="table">
        <thead>
            <tr>
              <th class="col-md-3"></th>
              <th class="col-md-9"></th>
            </tr>
          </thead>           
          <tbody>
             <% if @reviews.blank? %>
             <tr>
              <p>No reviews yet. Be the first to write one!</p>
            <% else %>
                <% @reviews.each do |review| %>              
                    <td>
                      <h4> <%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %></h4>
                      <p class = "small"><%= time_ago_in_words(review.created_at) %> ago </p>
                    </td>

                    <td>
                      <div class="star-rating" data-score= <%= review.rating %> ></div>
                      <p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>

                      <p class="navbar-right small">

                        <!--Uncomment to unable -->
                        
                      <%= link_to listing_review_upvote_path(@listing, review), method: :put do%>
                      <span class="glyphicon glyphicon-thumbs-up"> <%= review.get_upvotes.size %></span> 
                      <% end %>.

                      <%= link_to listing_review_downvote_path(@listing, review), method: :put do%>
                      <span class="glyphicon glyphicon-thumbs-down"> <%= review.get_downvotes.size %></span> 
                      <% end %>
                        
                        </p>

                     

                      <!-- Check if user is signed in, to enable edit and update -->
                      <% if user_signed_in? %>
                      <% if (review.user == current_user) || (current_user.admin?) %>
                      <%= link_to "Edit", edit_listing_review_path(@listing, review), class: "text-left"  %>
                      <%= link_to "Delete", listing_review_path(@listing, review), method: :delete, class: "text-left"  %>     
                      <% end %>
                    <% end %>

                </td>
              </tr>
            <% end %>
            <% end %>
          </tbody>

        </table>
  </div>
</div>
<% if user_signed_in? && current_user.admin? %>
<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> |
<% end %>
<%= link_to 'Back', listings_path, class: "btn btn-link" %>

<!--The script for star ratings. -->

<script>
  $('.star-rating').raty({
    path: 'https://s3.eu-west-2.amazonaws.com/bebuwaphotos/uploads/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>