<!DOCTYPE html>
<html>
  <head>
    <title>Bubewa : Yelp for Kenya</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- Start Body here -->

      <body>
         <%= render 'layouts/header' %>
          <div class="container">

            <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div class="alert alert alert-success -<%= name.to_s == :notice ? "success" : "danger" %> alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <%= content_tag :div, msg, :id => "flash_#{name}" %>
              </div>
            <% end %>
          <% end %>
 
          <!-- Start footer here -->
          <%= yield %> 
          <br>
        <hr>
          <%= render 'layouts/footer' %>
            </div>
        </body>
</html>
